@import '../../var';

.loading {
    display: flex;
    padding: 1.25em 0;
    justify-content: center;
    div {
        width: 1.25em;
        height: 1.25em;
        border-radius: 50%;
    }
    @keyframes left {
        0% {
            right: 0;
            transform: rotate(0deg);
        }
        25% {
            right: 2.5em;
            transform: rotate(-360deg);
        }
        50% {
            right: 0;
            transform: rotate(0deg);
        }
        75% {
            right: 0;
        }
        100% {
            right: 0;
        }
    }
    @keyframes right {
        0% {
            left: 0;
            transform: rotate(0deg);
        }
        25% {
            left: 2.5em;
            transform: rotate(360deg);
        }
        50% {
            left: 0;
            transform: rotate(0deg);
        }
        75% {
            left: 0;
        }
        100% {
            left: 0;
        }
    }
    .left {
        background: conic-gradient(from -90deg, $color-3, $color-4);
        position: relative;
        animation: left 4s linear infinite;
    }
    .right {
        background: conic-gradient(from 90deg, $color-3, $color-4);
        position: relative;
        animation: right 4s linear 2s infinite;
    }
}