@import '../../var';

.swiper-slide {
    box-sizing: border-box;
    display: flex;
    margin-top: 1em;
    div {
        margin: auto;
        border-radius: 25px;
        overflow: hidden;
        img {
            width: calc(100vw - 2 * 1em);
            display: block;
        }
    }
}