@import '../../var';

.swiper-slide {
    box-sizing: border-box;
    display: flex;
    position: relative;
    .filter {
        width: 100%;
        filter: opacity(37.5%);
    }
    display: flex;
    align-items: center;
    justify-content: center;
    div {
        margin: auto;
        border-radius: 1em;
        overflow: hidden;
        position: absolute;
        img {
            width: calc(100vw - 2 * 2em);
            display: block;
        }
    }
}