@import '../../var';

.recommend {
    .title {
        margin: 1em;
        padding: .5em 1.5em .5em 1em;
        color: $color-2;
        background: linear-gradient(to right, $color-1, transparent);
        display: inline-block;
        border-radius: .5em;
    }
    padding: 0;
    &-list {
        display: flex;
        flex-wrap: wrap;
    }
    &-item {
        margin: 0 0 1em 1em;
        width: calc((100% - 1em * 3) / 2);
        border-radius: 1em;
        overflow: hidden;
        img {
            width: 100%;
            display: block;
        }
        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: .25em .5em;
            background: linear-gradient(to right, $color-3, $color-4);
            color: white;
            svg {
                margin-right: 4px;
            }
        }
    }
}